.container {
    background-color: beige;
}
.book {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}
.books {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oneBook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: burlywood;
    width: 300px;
    height: 500px;
    box-shadow: grey 2px 2px 10px 10px;
}
img {
    width: 240px;
    height: 330px;
    margin-bottom: 10px;
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.booklist {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .cart {
    position: relative;
    float: right;
}
.bookLayout {
    display: flex;
    justify-content:center;
    flex-direction: column;
}
span {
    font-weight: bold;
}
.cartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 30px;
}
.cartButton > p {
    margin-right: 5px;
    margin-left: 5px;
}
.cartButton button {
    width: 40px;
    height: 40px;
}
#cartImg {
    height: 100px;
    width: 60px;
}
.cartBook {
    margin-top: 50px;
}
.oneBookCart {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.author {
    padding: 0px 20px 0px 20px;
    width: 400px;
}
.booksCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 30px;
}
h1, p, h6, .button2 {
    font-family: "Courier New";
}
.table {
    font-family: "Courier New";
    margin-top: 30px;
}
tr {
    text-align: center;
}

